<% include head %>

	<div id="choices-container" class="container">
		<div id="plan-wrapper">
			<div id="choices-main-header">Tell us what you want!!</div>
			<div id="choices-sub-header">Shipping is free and you can skip any week</div>
			<form name="choices-form" action="/choices" method="post">
				<div id="choice-frequency" class="choice-block">
					<div class="row">
						<div class="choice-image col-sm-6">
							<img src="images/calendar.png">
						</div>
						<div class="choice-text col-sm-6">
							<h2 class="choices-label">1. Frequency</h2>
							<div class="choices-lower-text-wrapper">
								<div class="choices-lower-text">How often would you like us to send you your coffee?</div>
								<select id="frequency" name = "frequency" class="form-control">
									<option <%= frequency == 'weekly' ? "selected" : "" %> value="weekly">Weekly</option>
									<option <%= frequency == 'biweekly' ? "selected" : "" %> value="biweekly">Every Two Weeks</option>
									<option <%= frequency == 'monthly' ? "selected" : "" %> value="monthly">Monthly</option>
									<option <%= frequency == 'quarterly' ? "selected" : "" %> value="quarterly">Quarterly</option>
									<option <%= frequency == 'semi-annually' ? "selected" : "" %> value="semi-annually">Semi-Annually</option>
									<option <%= frequency == 'annually' ? "selected" : "" %> value="annually">Annually</option>
								</select>
								<div class="choices-help-text">You can cancel anytime. You can skip anytime.</div>
							</div>
						</div>
					</div>
				</div>
				<div id="choice-quantity" class="choice-block">
					<div class="row">
						<div class="choice-image col-sm-6">
							<img src="images/food-scale.png">
						</div>
						<div class="choice-text col-sm-6">
							<h2 class="choices-label">2. Amount</h2>
							<div class="choices-lower-text-wrapper">
								<div class="choices-lower-text">How many packages would you like each delivery (each package is 0.25 pounds)?</div>
								<input class="form-control" type="text" placeholder="20" name="unitQuantity"placeholder="Enter number of Packages" value="<%=quantity%>">
								<div class="choices-help-text"></div>
							</div>
						</div>
					</div>
				</div>
				<div id="choice-grind" class="choice-block">
					<div class="row">
						<div class="choice-image col-sm-6">
							<img src="images/beans.png">
						</div>
						<div class="choice-text col-sm-6">
							<h2 class="choices-label">3. Grind Type</h2>
							<div class="choices-lower-text-wrapper">
								<div class="choices-lower-text">How do you like your grinds?</div>
								<select id="grind" name = "grind" class="form-control">
								<% console.log(grind) %>
									<option <%= grind == 'extraCoarse' ? "selected" : "" %> value="extraCoarse">Extra Coarse</option>
									<option <%= grind == 'coarse' ? "selected" : "" %> value="coarse">Coarse</option>
									<option <%= grind == 'mediumCoarse' ? "selected" : "" %> value="mediumCoarse">Medium Coarse</option>
									<option <%= grind == 'fine' ? "selected" : "" %> value="fine">Fine</option>
									<option <%= grind == 'veryFine' ? "selected" : "" %> value="veryFine">Very Fine</option>
									
								</select>
								<div class="choices-help-text"></div>
							</div>
						</div>
					</div>
				</div>
				<div id="save-wrapper">
					<input id="save-button" type="submit" class="btn btn-primary btn-lg" value="Save Preferences">
				</div>
			</form>
		</div>

	</div>
</div>
<% include foot %>