<% include head %>

	</div>
	<div class="container" id="delivery-confirm-wrapper">

		<h1>Your Account Information</h1>
		<div id="options-container">
			<div class="row">
				<div id="choices-confirm-header" class="col-xs-3">Choices <a href="/choices"><span>(Edit)</span></a></div>
				
			</div>
			<div class="row">
				<div id="choice-grind" class="col-xs-1 col-xs-offset-1 bold">Grind</div>
				<div id="grind-val" class="col-xs-2 col-xs-offset-1"><%=grind%></div>
			</div>
			<div class="row">
				<div id="choice-frequency" class="col-xs-2 col-xs-offset-1 bold">Frequency</div>
				<div id="frequency-val" class="col-xs-2"><%=frequency%></div>
			</div>
			<div class="row">
				<div id="choice-quantity" class="col-xs-2 col-xs-offset-1 bold">Quantity</div>
				<div id="quantity-val" class="col-xs-2"><%=quantity%> Packages</div>
			</div>
			<div class="row">
				<div id="delivery-info" class="col-xs-5">Delivery Information <a href="/delivery"><span>(Edit)</span></a></div>
			</div>
			<div class="row">
				<div id="name-address" class="col-xs-2 col-xs-offset-1 bold">Recipient Name</div>
				<div id="name-val" class="col-xs-2"><%=fullName%></div>
			</div>
			<div class="row">
				<div id="address1" class="col-xs-2 col-xs-offset-1 bold">Address</div>
				<div id="address-val" class="col-xs-3"><%=address1%> <br/> <%=address2%></div>
			</div>
			<div class="row">

				<div id="city-val" class="col-xs-2 col-xs-offset-3"><%=city%>, <%=state%> <%=zip%></div>
			</div>
			<a href="/payment"><input type="button" class="btn btn-success" value = "Check Out!"></a>
		</div>

	</div>


<% include foot %>
