<% include head %>

	<div class="container">
		<form id="register-form" role="form" action = "/register" method = "post">
			<h1> Register Now!</h1>
			<p class="lead">Fill out the fields below to register.</p>
			<input class="form-control" type="text" name="firstName" placeholder = "First Name" value="<%=firstName%>">
			<br/>
			<input class="form-control" type= "text" name="lastName" placeholder = "Last Name" value="<%=lastName%>">
			<br/>
			<input class="form-control" type= "text" name="email" placeholder = "Email Address" value="<%=email%>">
			<br/>
<%
	if(err){
%>
			<p class="error-message"><%=err%></p>
<%
	}
%>
			<input class="form-control" type="text" name = "username" placeholder = 'User Name' value="<%=username%>">
			<br/>
<%
	if(passErr){
%>
			<p class="error-message"><%=passErr%></p>
<%
	}
%>			
			<input class = "form-control" type="password" name="password" placeholder = "Password">
			<br/>
			<input class = "form-control" type="password" name="passwordConfirm" placeholder = "Confirm password">
			<br/>
			<input class = "btn btn-success" type="submit" value="Sign Me Up!">
			<a href="/"><input class = "btn btn-danger" type="button" value="Cancel"></a>
		</form>
	</div>
	
<% include foot %>
