<% include head %>

	<div id="thanks-body" class="container">
		<div id="thanks-header" class="col-xs-12"> Thank You!</div>
		<div id="delivery-information">
			<div id="order-details">
				<div class="col-xs-12" id="details-header">Order Info</div>
				<div class="col-xs-2" id="quantity">Quantity:</div> <div class="col-xs-9 col-offset-xs-1"><%=info.quantity%> Packages</div>
				<div class="col-xs-2" id="grade">Grind: </div><div class="col-xs-9 col-offset-xs-1"><%=info.grind%></div>
				<div class="col-xs-2" id="frequency">Frequency: </div><div class="col-xs-9 col-offset-xs-1"><%=info.frequency%></div>
			</div>
			<div id="delivery-details">
				<div class="col-xs-12" id="delivery-header">Delivery Info</div>
				<div class="col-xs-2" id="name">Name: </div> <div class="col-xs-9 col-offset-xs-1"><%=info.fullName%></div>
				<div class="col-xs-2" id="address">Address:</div><div class="col-xs-9 col-offset-xs-1"><%=info.address1%><br/><%=info.address2%></div>
				<div class="col-xs-2" id="city-state-zip"></div> <div class="col-xs-9 col-offset-xs-1"><%=info.city%>, <%=info.state%> <%=info.zip%></div>
				<div class="col-xs-2" id="delivery-date">Expected Delivery: </div><div class="col-xs-9 col-offset-xs-1"><%=info.date%></div>
			</div>
		</div>

		<div id="home-container">
			<a href="/"><input type="button" class="btn" value="Go Home"></a>
		</div>
	</div>

<% include foot %>